@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome to BigStore Data Analytics</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="clearfix" style="min-height:50px"></div>
<div class="container">    
    <div class="row">        
        <div class="col-xl-12" style="min-height:350px">
            @await Html.PartialAsync("_AlertData")
        </div>
        <div class="col-xl-12" style="min-height:350px">
            @await Html.PartialAsync("_TelemetryData")
        </div>
        <div class="col-xl-12" style="min-height:350px">
            @await Html.PartialAsync("_CosmosTelemetryData")
        </div>
    </div>   
</div>


